.colum1-header:hover,
.colum2-header:hover,
.colum3-header:hover,
.colum4-header:hover {
  background-color: #557b83;
}

.colum1-7:hover,
.colum2-8:hover,
.colum2-8:hover,
.colum3-9:hover,
.colum1-4:hover,
.colum2-5:hover,
.colum3-6:hover,
.colum1-1:hover,
.colum2-2:hover,
.colum3-3:hover,
.colum1-footer:hover {
  background-color: #f46c3f;
}
.colum2-footer:hover {
  background-color: #557b83;
}
.colum3_1-footer:hover,
.colum3-footer:hover {
  background-color: crimson;
}
.colum4-footer:hover {
  background-color: #ed8554;
}

/*active*/
.colum1-header:active,
.colum2-header:active,
.colum3-header:active,
.colum4-header:active {
  background-color: #4d6a70;
}
.colum1-7:active,
.colum2-8:active,
.colum2-8:active,
.colum3-9:active,
.colum1-4:active,
.colum2-5:active,
.colum3-6:active,
.colum1-1:active,
.colum2-2:active,
.colum3-3:active,
.colum1-footer:active {
  background-color: #cc623e;
}
.colum2-footer:active {
  background-color: #4d6a70;
}
.colum3_1-footer:active,
.colum3-footer:active {
  background-color: rgb(163, 20, 49);
}
.colum4-footer:active {
  background-color: #b66844;
}
